body {
	margin: 0;
	padding: 0;
	height: 100%;
    min-height: 100%;
}
body {
	color: #9F7FB2;
	font-family: Arial, sans-serif;

}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.wrapper {
	width: 800px;
	margin: 0 auto;
}
.head {
	width: 800px;
	margin: 0 auto;
}
header {
	background-color: #9F7FB2;
}
.logo-round {
	float: left;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: #fff;
	text-align: center;
	position: relative;
	top: 7px;
}
.logo-letter {
	text-align: center;
	position: relative;
	font-weight: bold;
	top: 9px;
	left: 1px;
}
.logo-text {
	float: left;
	color: #fff;
	font-size: 22px;
	margin-left: 10px;
	position: relative;
	top: 12px;
	
/**--content--**/
}
.menu {
	float: right;

}
.menu li {
	float: left;
	text-transform: uppercase;
	list-style: none;
	margin-left: 25px;
	
}
.menu li a:hover {
	background-color: #fff;
	color: #9F7FB2;
}

.menu li a {
	display: block;
	color: #fff;
	text-decoration: none;
	transition: all 0.9s;
	padding: 0 10px;
	height: 100%;
}
main h1 {
	font-size: 50px;
}
.img {
	background-image: url(../img/pic1.png);
	height: 170px;
	max-width: 800px;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
	margin-bottom: 20px;
}
.articles {
	margin-bottom: 35px;
}

.article1 {
	float: left;
	width: 50%;
}
.article2 {
	float: right;
	width: 50%;
}
.line {
	height: 1px;
	background-color: #9F7FB2;
	margin-bottom: 30px;
}

/**--FOOTER--**/
footer {
	margin-bottom: 20px;
}
footer > div {
	float: left;
}
.soc {
	width: 20%;
	text-align: left;
}
.info {
	width: 60%;
	text-align: center;
	position: relative;
	top: 12px;
}
.logo-footer {
	width: 20%;
	text-align: right;
}