.wrapper {
	margin: 100px auto;
	max-width: 650px;
	background-color: #3598DC;
	padding: 30px 0 30px;
	font-size: 18px;
	color: #6B727A;
}

form {
	text-align: center;
	margin: 30px 0 30px;
	max-width: 350px;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px 0 20px;
	border-radius: 5px;
}
form input {
	display: block;
	margin: 20px auto 20px;
	width: 224px;
	height: 33px;
	border-radius: 3px
}

form p:first-child {
	font-size: 28px;
	margin: 0 auto;
	font-weight: bold;
}
form p:last-child {
	margin: 20px auto;

}
form p a {
	font-size: 14px;
}

.button a {
	background-color: #3598DC;
	padding: 10px 95px;
	border-radius: 3px;
	color: #fff;
	text-decoration: none;
}


